:root {       /* este es un pseudo elemento , custom porpieties */
    --blanco: #ffffff;
    --oscuro: #212121;
    --primario: #8b59c5;
    --secundario: #33a8b8;
    --gris: #757575;
}



html {
    font-size: 62.5%;
    box-sizing: border-box;

    
}

*, *:before, *:after {
box-sizing: inherit;
        
}
body{
    font-size: 16px;
    font-family: 'Krub', sans-serif;
   background-image:linear-gradient(to top, #DFE9F3 0%, var(--blanco) 100%);
}
.titulo{

    text-align: center;
    font-size: 3.8rem;
    font-family: 'Krub', sans-serif;

}
.titulo span {
    font-size: 2rem;
}
.contenedor {

    max-width: 120rem;
    margin: 0 auto;
    text-align: center;
    
    
    
    }
    a{
        color: blanchedalmond;
        font-size: 2rem;
        font-weight: bold;
        text-decoration: none;
        text-transform: uppercase;
        
    }

.boton  {
    background-color:var(--primario) ;
    color: blanchedalmond;
    padding: 1rem 3rem;
    margin-top: 1rem;
    border-radius: .5rem;
    width: 90%;
    text-align: center;
   
}

@media (min-width: 768px){
  .boton {
width: auto;

  }

  .shadow {
    -webkit-box-shadow: 10px 10px 5px -13px rgba(102,97,102,0.45);
-moz-box-shadow: 10px 10px 5px -13px rgba(102,97,102,0.45);
box-shadow: 10px 10px 5px -13px rgba(102,97,102,0.45);
   background-color: var(--blanco);
   padding: 2rem;
   border-radius: 2rem;
}


}

.nav-bg {
background-color: var(--primario);

}


/* En este apartado separamos los botones de enlace del nav Bar, para poder aplicar la justify content es necesario agreegar display flex */

.navegacion-principal {
    display: flex;    
    flex-direction: column;
    
}
@media (min-width: 768px){
.navegacion-principal{
    flex-direction: row;
    justify-content: space-between ;
    
}


} 

.navegacion-principal a {
    display: block;
    text-align: center;
    color: var(--blanco);
    text-decoration: none ; 
    font-size: 2rem;
    font-weight: bold;
    padding: 1rem;
    
   
}

/* en esta parte se declara la accion CSS del nav bar */
.navegacion-principal a:hover{
    background-color: var(--secundario);
    color: var(--oscuro);

}
/* Aqui declaramos la imagen para que se refleje en nuestra pagina  */
.hero  {
background-image: url(../imagenes/burble.jpg);
background-repeat: no-repeat;
background-size: cover;
height: 450px;
padding: 20px;
position: relative;
margin-bottom: 2rem;

}

.contenido-hero {
position: absolute;
background-color: rgba(0,0,0, .6);
bottom: 0;
right: 0;
left: 0;
top: 0;

display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
color: seashell;


}
/* Servicios */

@media (min-width: 768px) {
    .servicios {

        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        text-align: center;

    }

}

.servicio .iconos {


}



